<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>

      <ion-title>Restablecer Contraseña </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <form class="container">
      <ion-item>
        <ion-label position="floating">Nombre Usuario</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <br>
      <ion-button [routerLink]="['/login/estudiante']">
        Recuperar estudiante
      </ion-button>
      <br>
      <br>
      <ion-button [routerLink]="['/login/docente']">
        Recuperar Docente
      </ion-button>
    </form>
    
  </div>
  </ion-content>
  

