

<ion-content [fullscreen]="true">
  <div class="home-container">
    <h1>Bienvenido {{ user?.username }}!</h1>
     <ion-button *ngIf="user.rol === 'estudiante'" >Registrar asistencia
      <ion-icon slot="end" name="add-circle"></ion-icon>
     </ion-button>
     <div *ngIf="user.rol === 'profesor'">
       <ion-button *ngIf="user.rol === 'profesor'" (click)="empezarClase()">Empezar clase</ion-button>
       <ion-button *ngIf="user.rol === 'profesor'" (click)="listarClases()">Revisar clases</ion-button>

     </div>
  </div>
</ion-content>
