

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-img src="assets/img/logo.png"></ion-img>
    <h1>Bienvenido</h1>
    <p>¿Eres estudiante o profesor?</p>
    <div class="buttons">
      <ion-button routerLink="/login/estudiante">Estudiante 
        <ion-icon name="person-outline" style="margin-left: 10px"></ion-icon>
      </ion-button>
      <ion-button routerLink="/login/docente">Docente
        <ion-icon name="book-outline" style="margin-left: 10px"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
